j_old/
__pycache__/
analysis/.ipynb_checkpoints
analysis/geneious_alignment
analysis/cds-popgen
data/aligned-fastas/alignments
data/alignment-lastz/10k
data/alignment-lastz/50k
data/recombination-ldhelmet/
analysis/recombination-ldhelmet/
data/references/all_quebec*
data/references/gvcfs
data/aligned-fastas/
data/ld-windowed/
tests/
