j_old/
__pycache__/
analysis/.ipynb_checkpoints
analysis/geneious_alignment
data/aligned-fastas/alignments
data/recombination-ldhelmet/recombination-estimates
data/references/all_quebec*
data/references/gvcfs
data/aligned-fastas/
tests/
